<!doctype html>
<html>

<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>You are not login! Please login and try again</h1>
        <a href="/" class="btn btn-danger">Login</a>
    </div>
</body>

</html>